apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: kennyadg/order-service:latest
          ports:
            - containerPort: 3004
          env:
            - name: DATABASE_URL
              value: "postgres://admin:admin@10.241.222.216:30432/ticketapp"
            - name: JWT_SECRET
              value: "supersecret"
            - name: PORT
              value: "3004"
            - name: NOTIFICATIONS_SERVICE_URL
              value: "http://backend.ingeniebrios.work.gd:32701"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
